[Unit]
Description=Start PiScale

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/kirbypi/.Xauthority
ExecStart=/bin/bash /home/kirbypi/piscale/piscale.sh
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target
